.simple-white-scrollbar {
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ffffff;
    }
}

.colour-prefix {
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    display: inline-block;
}

.overlay-block-header {
    height: 55px;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid $BLUE_BORDER_COLOUR;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    font-size: 36px;
}

.overlay-block-content {
    height: calc(100% - 54px);
}

.game-changing-challenge {
    font-weight: bold;
    color: #ff4141;
}