$BLUE_BORDER_COLOUR: #203241;
$BLUE_BORDER_COLOUR_HOVER: #3d566b;
$GREEN_BORDER_COLOUR: #396436;
$GREEN_BORDER_COLOUR_HOVER: #457042;
$RED_BORDER_COLOUR: #b41616;
$RED_BORDER_COLOUR_HOVER: #de3d3d;

$LIGHT_BLUE_BG: linear-gradient(90deg, #8ba5be 0%, #9db6d0 100%);
$BLUE_BG_NORMAL: linear-gradient(90deg, #2c3e50 0%, #435e79 100%);
$BLUE_BG_HOVER: linear-gradient(90deg, #445b72 0%, #597693 100%);
$GREEN_BG_NORMAL: linear-gradient(90deg, #2c5039 0%, #527943 100%);
$GREEN_BG_HOVER: linear-gradient(90deg, #447245 0%, #618f5b 100%);
$ORANGE_BG_NORMAL: linear-gradient(90deg, #c24b0a 0%, #d56f42 100%);
$ORANGE_BG_HOVER: linear-gradient(90deg, #da7741 0%, #d9835e 100%);
$RED_BG_NORMAL: linear-gradient(90deg, #a41b1b 0%, #e73c43 100%);
$RED_BG_HOVER: linear-gradient(90deg, #d73838 0%, #fd5f66 100%);
